<template name="transfer">
    transfer
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Account Informations</div>
        <div class="panel-body">
            <p>Please find below your parameters</p>
        </div>

        <!-- Table -->
        <table class="table">
            <td>
                <tr>
                    lolo
                </tr>
            </td>
            <td>
                <tr>
                    lolo2
                </tr>
            </td>
        </table>
    </div>

</template>